:root {
  --yellow: #FFBD57;
  --blue: #8DA5ED;
  --black: #000000;
  --white: #FFFFFF;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Luckiest Guy", sans-serif;
  background-image: url("../assets/background.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

/* Navbar */

nav.desktop {
  display: flex;
  justify-content: flex-start;
  border-radius: 0px 0px 20px 20px;
  background: rgba(255, 255, 255, 0.80);
  height: 100px;
  place-items: center;
  align-items: center;
  width: 100%;
  z-index: 100;
  position: relative;
  flex-wrap: nowrap;
  padding: 0 20px;
}

nav.desktop .logo {
  margin-left: 30px;
  height: auto;
}

nav.desktop .logo img {
  width: 80%;
}

nav.desktop .logo_2 {
  display: none;
}

nav.desktop ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 50px;
  padding: 0;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  text-align: center;
  margin: 0 auto;
  flex-shrink: 1;
}

nav.desktop ul li {
  position: relative;
  display: flex;
  padding: 0px 20px;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  padding: 0 10px;
}

nav.desktop ul li a {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease 0s;
  z-index: 100;
}

nav.desktop ul li a:hover {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-text-stroke: 6px var(--yellow);
  paint-order: stroke fill;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.arrow-icon {
  margin-left: 8px;
  width: 15px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 150%;
  left: 1.5vw;
  border-radius: 0px 0px 20px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 160px;
  z-index: 1;
  box-shadow: none;
}

.dropdown-content a {
  display: block;
  padding: 0.7vw;
  text-align: left;
  color: black;
  text-decoration: none;
}

.dropdown-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 38px;
  background-color: #e1e7fa;
  z-index: -1;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown.active .arrow-icon {
  transform: rotate(180deg);
}

/* Menu */

.menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

nav.mobile {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, #3E4096, #8DA5ED);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.close-icon {
  position: fixed;
  top: 32px;
  right: 5vw;
  width: 40px;
  cursor: pointer;
}

nav.mobile ul {
  list-style: none;
  padding: 0;
}

nav.mobile ul li {
  margin: 30px 0;
  text-align: center;
  position: relative;
  display: flex;
  padding: 0px 20px;
  flex-grow: 1;
  justify-content: center;
  padding: 0 10px;
}

nav.mobile ul li a {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  transition: all 0.3s ease 0s;
  margin: 30px;
}

nav.mobile ul li a:hover {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-text-stroke: 6px var(--yellow);
  paint-order: stroke fill;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

nav.mobile .dropdown-content {
  display: none;
  left: 3vw;
  top: 70px;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
  border-radius: 20px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  /* background-image: linear-gradient(45deg, #3E4096, #8DA5ED); */
}

nav.mobile .dropdown-content a {
  padding: 0;
}

nav.mobile .dropdown-content::after {
  height: 0;
}

nav.mobile .dropdown-content.active {
  display: flex;
  align-self: center;
}

/* Footer */

footer {
  background: rgba(255, 255, 255, 0.80);
  margin-top: 50px;
  height: 165px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 35px;
}

.social-media a img {
  width: 80%;
  transition: width 0.3s ease;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

/* Media Query */

@media (max-width: 1500px) {
  nav.desktop .logo {
    margin-left: 10px;
  }

  nav.desktop ul li a {
    font-size: 18px;
  }

  nav.desktop ul li a:hover {
    font-size: 20px;
  }
}

@media (max-width: 1250px) {
  nav.desktop ul li a:hover {
    font-size: 20px;
  }

  .dropdown-content {
    left: 12px;
  }

  .arrow-icon {
    width: 15px;
  }

  footer {
    margin-top: 50px;
    height: 140px;
  }

  .social-media {
    gap: 20px;
  }

  .social-media a img {
    width: 70%;
  }

  .copyright {
    margin-top: 5px;
  }
}

@media (max-width: 992px) {
  nav.desktop ul li a {
    font-size: 14px;
  }

  nav.desktop ul li a:hover {
    font-size: 18px
  }

  .dropdown-content {
    left: 0px;
  }

  .arrow-icon {
    width: 10px;
  }

  footer {
    margin-top: 50px;
    height: 130px;
  }

  .social-media {
    gap: 15px;
  }

  .social-media a img {
    width: 60%;
    align-items: center;
  }

  footer .copyright {
    font-size: 12px;
    margin-top: 5px;
  }
}

@media (max-width: 800px) {
  nav.desktop {
    height: 150px;
    padding: 50px;
    padding-left: 30px;
    height: 20px;
  }

  nav.desktop ul {
    display: none !important;
  }

  .menu {
    display: flex;
  }

  .menu img {
    width: 70%;
  }

  nav.desktop ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    /* Logo abaixo da navbar */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  nav.desktop ul {
    transition: all 0.3s ease;
  }

  nav.desktop .logo img {
    display: none;
  }

  nav.desktop .logo_2 {
    display: flex;
  }

  .logo_2 img {
    width: 25%;
  }

  .arrow-icon {
    width: 17px;
  }

  footer {
    height: 90px;
  }

  .social-media {
    gap: 0px;
    padding-left: 30px;
    padding-top: 20px;
  }

  .social-media a img {
    width: 50%;
  }

  footer .copyright {
    font-size: 10px;
    margin-top: -5px;
  }
}

@media (max-width: 576px) {

  .menu img {
    width: 60%;
  }

  .social-media {
    gap: 0px;
    padding-top: 20px;
  }

  .social-media a img {
    width: 40%;
  }

  footer {
    height: 90px;
  }

  footer .copyright {
    font-size: 10px;
    margin-top: -5px;
  }
}